.scroll-watcher {
  position: fixed;
  top: 0;
  width: 5px;
  height: 100%;
  z-index: 1000;
  background-color: rgb(161, 161, 250);
  scale: 1 0;
  transform-origin: top;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

img {
  width: 100%;
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}


